/Billing_.java
/ConstituentVDU_.java
/DeploymentFlavour_.java
/Penalty_.java
/Price_.java
/Violation_.java
/VirtualDeploymentUnit_.java
/VNFComponent_.java
/VNFD_.java
/VNFDescriptor_.java
/VNFFile_.java
/AssuranceParameters_.java
